@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;500&family=Fruktur&family=Lato:ital,wght@0,100;0,400;0,700;1,400&family=Open+Sans:wght@300&family=Poppins:wght@100&family=Roboto:ital,wght@0,400;1,100&display=swap');

*{
    margin: 0%;
    box-sizing: border-box;
}

/* Header*/

header section.bannerUno{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    background-color:#222222;
    color:#F3F3F3;
}

header section div p{
    font-size: 10px;
    padding: 4px 0px 4px 90px;
}

header section div.menuOpciones{
    font-size: 10px;
    justify-content: space-between; 
    padding: 4px 52px 4px 0px;
}
header i{
    padding: 0px;
    font-size: 10px;
}

header section.bannerDos{
    display: flex;
    justify-content: space-between;
    background-color: #F0A83E;
    padding: 18px 40px 18px 58px;
    color:#FFFFFF;
    font-size: 13px;
    align-items: center;
}

header section.bannerDos div i{
    margin-left: 20px;
}

/* Main*/

main section{
    font-family: 'Roboto', sans-serif;
}

main section.bannerTres{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:url(/img/fondo.png);
    background-size: cover;
    height: calc(100vh - 83px);
}

main section.bannerTres div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section.bannerTres div h1{
    background: #FFFFFF;
    color:#3C2313;
    font-size: 30px;
    font-weight: normal;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 12px;
    border-radius:  5px;
}

main section.bannerTres div p{
    font-size: 16px;
    color:#3C2313;
    padding-bottom: 12px;
    font-weight: bold;
}

main section.bannerTres div button{
    background:#F0A83E;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px 23px;
    border-radius: 5px;
}

main section.menuSecciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

main section.menuSecciones h2{
    font-size: 40px;
    font-weight: 700px;
    color: #3C2313;
    padding-bottom: 20px;
}

main section.menuSecciones ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
}

main section.menuSecciones ul li{
    color:#666666;
    padding-right: 15px;
    
}

main section.productos{
    display: flex;
    justify-content: space-around;
}

main section.productos article{
    text-align: center;
}

main section.productos article p{
    color: #3C2313;
}

main section.productos article span{ 
    color: #F0A83E;
    font-weight: bold;
}