@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;500&family=Fruktur&family=Lato:ital,wght@0,100;0,400;0,700;1,400&family=Open+Sans:wght@300&family=Poppins:wght@100&family=Roboto:ital,wght@0,400;1,100&display=swap');

*{
    margin: 0%;
    box-sizing: border-box;
}

/* Header*/

header section.bannerUno{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    background-color:#222222;
    color:#F3F3F3;
}

header section div p{
    font-size: 10px;
    padding: 4px 0px 4px 90px;
}

header section div.menuOpciones{
    font-size: 10px;
    justify-content: space-between; 
    padding: 4px 52px 4px 0px;
}

header i{
    padding: 0px;
    font-size: 10px;
}

header section.bannerDos{
    display: flex;
    justify-content: space-between;
    background-color: #F0A83E;
    padding: 18px 40px 18px 58px;
    color:#FFFFFF;
    font-size: 13px;
    align-items: center;
}

header section.bannerDos a{
    display: none;
}

header section.bannerDos div i{
    margin-left: 20px;
}

/* Main*/

main section{
    font-family: 'Roboto', sans-serif;
}

main section.bannerTres{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:url(../img/fondo.png);
    background-size: cover;
    height: calc(100vh - 83px);
}

main section.bannerTres div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section.bannerTres div h1{
    background: #FFFFFF;
    color:#3C2313;
    font-size: 30px;
    font-weight: normal;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 12px;
    border-radius:  5px;
}

main section.bannerTres div p{
    font-size: 16px;
    color:#3C2313;
    padding-bottom: 12px;
    font-weight: bold;
}

main section.bannerTres div button{
    background:#F0A83E;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px 23px;
    border-radius: 5px;
}

main section.menuSecciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

main section.menuSecciones h2{
    font-size: 40px;
    font-weight: 700px;
    color: #3C2313;
    padding-bottom: 20px;
}

main section.menuSecciones ul{
    display: flex;
    list-style-type: none;
    padding: 0px;
}

main section.menuSecciones ul li{
    color:#666666;
    padding-right: 15px;
    
}

main section.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main section.productos article{
    text-align: center;
}

main section.productos article p{
    color: #3C2313;
}

main section.productos article span{ 
    color: #F0A83E;
    font-weight: bold;
}

main section div.formulario h3{
    text-align: center;
    justify-content: center;
    font-size: 25px;
    color: #3C2313;
    font-weight: 700;
    margin: 85px 0px 10px 0px;
}

main section div form.formularioDatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section div.formulario input{
    background-color:#3C2313;
    font-family: 'Roboto', sans-serif;
    padding: 15px 230px 15px 15px;
    border-radius: 15px;
    margin-top: 10px; 
}

main section div form.enviarDatos{
    margin-top: 40px;
    text-align: center;
}

main section div.guardarDatos form input{
    text-align:center;
    padding: 8px 25px 8px 25px;
    border-radius: 15px;
    margin-right: 5px;
    color: #FFFFFF;
    font-size: 16px;
}

main section div.guardarDatos form  input:nth-child(1){
    background-color:#8A8787;
}

main section div.guardarDatos form  input:nth-child(2){
    background-color:#F0A83E;
}

/* Footer*/

footer{
    font-family: font-family: 'Roboto', sans-serif;
}

footer section.suscripcion{
    display: flex;
    flex-wrap: wrap;
    background-color: #F0A83E;
    justify-content: space-between;
    padding: 13px 47px 13px 23px ;
    margin-top: 75px;
}

footer section.suscripcion div{
    display: flex;
    align-items: center;
}

footer section div h4{
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    margin-left: 10px;
    color: #FFFFFF;
}

footer section div form input:nth-child(1){
    padding: 14px 148px 14px 8px;
    border-radius: 15px;
    color:#A0A0A0;
}

footer section div form input:nth-child(2){
    padding: 10px;
    border-radius: 15px;
    background-color: #3C2313;
    color: #FFFFFF;
    font-weight: bold;
    align-items: center;
}

footer section.informacionPet{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #3C2313;
}

footer section.informacionPet span{
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 25px;
}

footer section.informacionPet p{
    font-size: 10px;
    font-weight: 700;
    color: #8A8787;
    margin-left: 25px;
}

footer section.informacionPet div.informacionDetallada{
    display: flex;
    align-items: center;
    padding: 20px 70px;
    margin-right: 70px;
}

footer section div.logoDos{
    padding-right: 70px;
}

footer section.derechosReservados{
    background-color: #222222;
    color: #FFFFFF;
    padding: 4px;
    text-align: center;
    font-size: 10px;
}

/*Responsive*/

@media(max-width: 415px){
    header section.bannerUno{
        display: none;
    }

    header section div.menuOpciones{
        display: none;
    }

    header section.bannerDos a{
        display:inline;
        color:#FFFFFF;
    }

    footer section.informacionPet{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    footer section.informacionPet div.informacionDetallada{
        align-items: center;
        padding-left: 80px;
        margin: 0px;
    }

    footer section div.logoDos{
        padding: 20px 140px 0px 140px;
    }
}